@using Microsoft.AspNetCore.Http;


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TradingPlat</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap"
          rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <script src="https://kit.fontawesome.com/0aa49aca01.js" crossorigin="anonymous"></script>

</head>
<body>
    <section class="glass">
        <header class="dashboard">
            @Html.AntiForgeryToken()
            @if (Context.Session.GetString("_Name") != null)
            {
                <div class="user" style="transition:1s">
                    <img src="./images/avatar.png" alt="" />
                    <h3>@Context.Session.GetString("_Name")</h3>
                    <p>Member</p>
                </div>
            }

            <div class="links">
                <div class="link">
                    <ul class="navbar-nav flex-grow-1 ul-nav">
                        <li class="nav-item">
                            <a style="width:100px" class="btn btn-outline-secondary mb-2 bg-white nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a style="width:100px" class="btn btn-outline-primary bg-white mb-2 nav-link text-dark" asp-area="" asp-controller="Stock" asp-action="WatchList">Stock List</a>
                        </li>
                        <li class="nav-item">
                            <a style="width:100px" class="btn btn-outline-warning bg-white nav-link text-dark" asp-area="" asp-controller="" asp-action="">Portfolio</a>
                        </li>
                    </ul>
                </div>

            </div>
            <div>
                <ul class="navbar-nav flex-grow-1 ul-nav">
                    @if (Context.Session.GetString("_Name") == null)
                    {
                        <li><a asp-controller="User" asp-action="SignIn">Sign In</a></li>
                        <li style="width: 100px; height:2px; background-color:black"></li>
                        <li><a asp-controller="User" asp-action="SignUp">Sign Up</a></li>

                    }
                    else
                    {
                        <li><a asp-controller="User" asp-action="Logout" class="btn btn-warning">Logout</a></li>
                    }
                </ul>


            </div>

        </header>
        <div class="container1">

            @RenderBody()

        </div>
    </section>

    <!--Modal display when clicked-->
    <div class="modal fade" id="exampleModal" tabindex="1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                @if (Context.Session.GetInt32("_Id") != null)
                 {
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Buy Order</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <h6>Current Price: @ViewBag.latestPrice</h6>
                        @if (ViewBag.error != null)
                        {
                            <span class="badge badge-danger">@ViewBag.error</span>
                        }
                        <form asp-controller="Stock" asp-action="PurchaseStock">
                            <div class="form-group">
                                <input class="form-control" name="symBol" value="@ViewBag.symbol" hidden />
                                <input class="form-control" name="stockId" value="@ViewBag.id" hidden />
                                <input class="form-control" name="userId" value="@Context.Session.GetInt32("_Id")" hidden />
                            </div>
                            <div class="form-group">
                                <label>Price</label>
                             
                                <input type="number" min="@ViewBag.latestPrice" value="@ViewBag.latestPrice" max="@ViewBag.latestPrice" class="form-control" name="price" required>

                            </div>
                            <div class="form-group">
                                <label>Quantity</label>
                                <input type="number" min="1" max="100000" class="form-control" name="quantity" required />

                            </div>

                            <button type="submit" class="btn btn-primary">Confirm</button>
                        </form>
                    </div>
                 }
                 else
                 {
                    <h4>You have not signed in! <a href="/user/signin">Sign In</a></h4>
                 }


            </div>
        </div>
    </div>

    <footer class="border-top text-muted footer d-flex justify-content-center align-items-center">
        <div class="text-white">
            &copy; 2021 - TradingPlat - Hieu Nguyen
        </div>
    </footer>

    <script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
